@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #eaeaea;
  font-family: "EB Garamond", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }
}

.search {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
}

.content {
  h5 {
    color: #fec356;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
  }
  img {
    cursor: pointer;
  }
}

.iconBlock {
  img:not(:last-child) {
    margin-bottom: 5px;
    
  }
}

.card {
  width: 210px;
  height: 260px;
  background-image: url(../public/img/bg.jpg);
}
