@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #eaeaea;
  font-family: "EB Garamond", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// body.description-open {
//   overflow: hidden;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }
}

.search {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;

  :focus{
    outline: none;
  }
}



.content {
  h5 {
    color: #fec356;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 40px;
    margin: 40px auto;
    width: 210px;
    height: 260px;
    background-image: url(../public/img/bg.jpg);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
  }
  .card:hover {
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    transform: translateY(-5px);
  }

  img {
    cursor: pointer;
  }
}

.iconBlock {
  img:not(:last-child) {
    margin-bottom: 5px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 620px;
  max-height: 90%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
  padding: 30px;
  overflow-y: auto;
}
